<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingenieria I y Grupo 3</title>
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <script src="https://kit.fontawesome.com/07863389f0.js" crossorigin="anonymous"></script>
    <script type="module" src="../../assets/js/views/politicas.js"></script>
</head>

<body id="root">
    <h1 class="headerPoliticas">Políticas </h1>
    <div class="contenedorPoliticas">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Quasi, repellendus qui in reprehenderit natus voluptate id consectetur 
            itaque placeat repellat eius, enim quas ipsa pariatur praesentium possimus magnam hic accusantium. Lorem
             ipsum dolor, sit amet consectetur adipisicing elit. Deleniti eum officia quasi consequuntur autem dignissimos impedit quia quaerat provident
             quae rerum eaque sit corporis laborum, excepturi, quod veritatis aspernatur amet!</p>

    </div>
</body>

</html>