<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../../../assets/js/views/producto/sellerProductos.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Schema Table</title>
    <style>
        table {
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
            border: 3px solid purple;
        }

        th, td {
            padding: 20px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        button {
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <h2>Productos Table</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Image URL</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Update</th>                
            </tr>
        </thead>
        <tbody id="tableBody">
            <!-- Table rows will be dynamically populated here -->
        </tbody>
    </table>
   
    </body>
</html>
