<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias Productos</title>
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <script src="https://kit.fontawesome.com/07863389f0.js" crossorigin="anonymous"></script>
    <script type="module" src="../../assets/js/views/categoriasProductos.js"></script> 
</head>

<body id="root">
<div class="containerHeaderProductCategories">

    <div class="boxHeaderMenuCategories">
        
            <form id="formCategoriasProductos">
            <select name="Categorias" id="categorias">
            <option value="todasCategorias">Todas las Categorias</option>
            <option value="carnesDerivados">Carnes y Derivados</option>
            <option value="pescadosMariscos">Pescados y Mariscos</option>
            <option value="frutasVerduras">Frutas y Verduras</option>
            <option value="hierbasEspecies">Hierbas y Especies</option>
            <option value="granos">Granos</option>
            <option value="otros">Otros</option> 
            </form>   
    </div>

    <div class="boxHeaderMenuCategories">
        <input type="search" placeholder="Buscar Productos" class="buttonSearch">
        <button type="">Buscar</button>
    </div>


</div>

<div class="containerProductCategories">
    <div class="boxCategories" >Frutas y Verduras <button type="button">Ver</button> </div>
    <div class="boxCategories">Carnes y Derivados <button type="button">Ver</button></div>
    <div class="boxCategories">Pescados y Mariscos <button type="button">Ver</button></div>
    <div class="boxCategories">Frutas y Verduras <button type="button">Ver</button></div>
    <div class="boxCategories">Hierbas y Especies <button type="button">Ver</button></div>
    <div class="boxCategories">Granos <button type="button">Ver</button></div>
    <div class="boxCategories">Otros <button type="button">Ver</button></div>
</div>
</body>

</html>

