<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Vendedor</title>
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <script src="https://kit.fontawesome.com/07863389f0.js" crossorigin="anonymous"></script>
    <script type="module" src="../../assets/js/views/categoriasProductos.js"></script> 
</head>

<body id="root">
  <div class="containerHeaderProductCategories">
    <div class="boxHeaderMenuCategories">Contenedor de Header</div>
    <div class="box">Dropdown Menu Categorias</div>
    <div class="box">barra de Busqueda Central</div>
    <div class="box">Boton de Buscar al lado izquiero</div>
</div>

<div class="containerProductCategories">
    <div class="box" >Frutas y Verduras <button type="button">Ver</button> </div>
    <div class="box">Carnes y Derivados <button type="button">Ver</button></div>
    <div class="box">Pescados y Mariscos <button type="button">Ver</button></div>
    <div class="box">Frutas y Verduras <button type="button">Ver</button></div>
    <div class="box">Hierbas y Especies <button type="button">Ver</button></div>
    <div class="box">Granos <button type="button">Ver</button></div>
    <div class="box">Otros <button type="button">Ver</button></div>
</div>
</body>

</html>

