<footer>
    <div class="containerFooter">
        <div class="footer-content">
            <h3 class="Titulos">Contacto</h3>
            <p>Email: info@ejemplo.com</p>
            <p>Numero Telefonico: #111-1111-111</p>
            <p>Address: informacion de Ubicacion</p>
        </div>


        <div class="footer-content">

            <h3 class="Titulos">Quick links</h3>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Sobre Nosotros</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Contacto</a></li>
                
            </ul>
        </div>
<div class="footer-content">
    <h3 class="Titulos">Redes Sociales</h3>
<li><a href=""><i class="fab fa-facebook"></i></a></li>
<li><a href=""><i class="fab fa-instagram"></i></a></li>
<li><a href=""><i class="fab fa-twitter"></i></a></li>
<li><a href=""><i class="fab fa-linkedin"></i></a></li>

</div>
    

</div>
<div class="Bottom">
    <p>&copy;2024 Nombre de la compania. Todos los derechos reservados </p>
</div>
</footer>