<hr id="footerAdjuster" />
<footer>
    <div class="containerFooter">
        <div class="footer-content">
            <h3 class="Titulos">Ubicacion</h3>
            <ul>
                <li>Avenida Central, </li>
                <li>Palmares, Alajuela,</li>
                <li> 20701, CR</li>
            </ul>
        </div>


        <div class="footer-content">

            <h3 class="Titulos">Soporte</h3>
            <ul>
                <li><a href="/politicas">Politicas</a></li>

                <li><a href="/contacto">Contacto</a></li>
                <li><a href="https://tienda.com/views/landingPage/index.html">Quienes-somos</a></li>
            </ul>
        </div>
        <div class="footer-content social-icons">
            <h3 class="Titulos">Redes Sociales</h3>
            <ul>
                <li><a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>


    </div>
    <div class="Bottom">
        <p>&copy;2024 INOVATECH Solutions. Todos los derechos reservados </p>
    </div>
</footer>