<nav class="mainNavBar">
    <header>
            <ul>
                <li><a href="" class="active">Home</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Carrito</a></li>
                <li><a href="">Perfil</a></li>
            </ul>
            <div class="container">
                <input type="text" placeholder="Buscar" id="searchBar">
                <div class="button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
    </header>
</nav>