<nav class="mainNavBar">
    <header>
            <img src="http://localhost/assets/images/logoproyecto.png" alt="logo" id="logoNav">
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/productos">Categorias</a></li>
                <li><a href="/productos/favoritos">Favoritos</a></li>
            </ul>
            <div class="container">
                <input type="text" placeholder="Buscar" id="searchBar">
                <div class="button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
    </header>
</nav>