<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frutas y Verduras</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script src="https://kit.fontawesome.com/07863389f0.js" crossorigin="anonymous"></script>
    <script type="module" src="/assets/js/views/categorias/categorias.js"></script>
</head>

<body id="root">
    <div class="containerHeaderProductCategories">

        <div class="boxHeaderMenuCategories">

            <form id="formCategoriasProductos">
                <select name="Categorias" id="categorias">
                    <option value="todasCategorias">Todas las Categorias</option>
                    <option value="carnesDerivados">Carnes y Derivados</option>
                    <option value="pescadosMariscos">Pescados y Mariscos</option>
                    <option value="frutasVerduras">Frutas y Verduras</option>
                    <option value="hierbasEspecies">Hierbas y Especies</option>
                    <option value="granos">Granos</option>
                    <option value="otros">Otros</option>
                </select>
            </form>
        </div>

        <div class="boxHeaderMenuCategories">
            <input type="search" placeholder="Buscar Productos" class="buttonSearch">
            <button type="">Buscar</button>
        </div>


    </div>

    <div class="containerProductCategories">
        <div class="boxCategories">
            Habanero
            <img src="../assets/images/habanero.jpg" alt="Habanero">
            <a href="link_to_frutas_verduras_page.html"><button type="button">Agregar a carrito</button></a>
        </div>
        <div class="boxCategories">
            Brocoli
            <img src="../assets/images/brocoli.jpg" alt="Carnes y Derivados">
            <a href="link_to_carnes_derivados_page.html"><button type="button">Agregar a carrito</button></a>
        </div>
        <div class="boxCategories">
            Uva
            <img src="../assets/images/uva.jpg" alt="Uva">
            <a href="link_to_pescados_mariscos_page.html"><button type="button">Agregar a carrito</button></a>
        </div>
        <div class="boxCategories">
            Piña 
            <img src="../assets/images/pinna.jpg" alt="Piña">
            <a href="link_to_hierbas_especies_page.html"><button type="button">Agregar a carrito</button></a>
        </div>
        <div class="boxCategories">
            cebeolla-morada
            <img src="../assets/images/cebeolla-morada.jpg" alt="cebeolla-morada">
            <a href="link_to_granos_page.html"><button type="button">Agregar a carrito</button></a>
        </div>
        <div class="boxCategories">
            papa
            <img src="../assets/images/Papa.jpg" alt="Papa">
            <a href="link_to_otros_page.html"><button type="button">Agregar a carrito</button></a>
        </div>
        <div class="boxCategories">
            Devolverse a categorias
            <img src="../assets/images/otros.jpg" alt="Otros">
            <a href="https://tienda.com/categorias/"><button type="button">Devolverse</button></a>
        </div>
        
    </div>
</body>

</html>
