<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hierbas y Especies </title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script src="https://kit.fontawesome.com/07863389f0.js" crossorigin="anonymous"></script>
    <script type="module" src="/assets/js/views/categorias/categorias.js"></script>
</head>

<body id="root">
    <div class="containerHeaderProductCategories">

        <div class="boxHeaderMenuCategories">

            <form id="formCategoriasProductos">
                <select name="Categorias" id="categorias">
                    <option value="todasCategorias">Todas las Categorias</option>
                    <option value="carnesDerivados">Carnes y Derivados</option>
                    <option value="pescadosMariscos">Pescados y Mariscos</option>
                    <option value="frutasVerduras">Frutas y Verduras</option>
                    <option value="hierbasEspecies">Hierbas y Especies</option>
                    <option value="granos">Granos</option>
                    <option value="otros">Otros</option>
                </select>
            </form>
        </div>

        <div class="boxHeaderMenuCategories">
            <input type="search" placeholder="Buscar Productos" class="buttonSearch">
            <button type="">Buscar</button>
        </div>


    </div>

    <div class="containerProductCategories">
        <div class="boxCategories">
            Achiote
            <img src="../assets/images/Achiote.jpg" alt="Achiote">
            <a href="link_to_frutas_verduras_page.html"><button type="button">Agregar a carrito</button></a>
        </div>
        <div class="boxCategories">
            Cebolla en polvo
            <img src="../assets/images/cebollapolvo.jpg" alt="Cebpolvo">
            <a href="link_to_carnes_derivados_page.html"><button type="button">Agregar a carrito</button></a>
        </div>
        <div class="boxCategories">
            Paprika
            <img src="../assets/images/paprika.jpg" alt="Paprika">
            <a href="link_to_pescados_mariscos_page.html"><button type="button">Agregar a carrito</button></a>
        </div>
        <div class="boxCategories">
            Pimienta
            <img src="../assets/images/pimienta.jpg" alt="pimienta">
            <a href="link_to_pescados_mariscos_page.html"><button type="button">Agregar a carrito</button></a>
        </div>

        <div class="boxCategories">
            Devolverse a categorias
            <img src="../assets/images/otros.jpg" alt="Otros">
            <a href="https://tienda.com/categorias/"><button type="button">Devolverse</button></a>
        </div>

    </div>
</body>

</html>